body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light background color */
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Align to left */
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: #337ab7;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #fff; /* White background for sections */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Rounded corners */
    width: 100%;
    max-width: 500px; /* Max width for larger screens */
    text-align: center; /* Center text */
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #bdc956; /* Darker color for headings */
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555555; /* Slightly lighter text for readability */
}

img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px; /* Space below image */
}

.button {
    background-color: #e2ad4a; /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content */
    transition: background-color 0.3s;
}

.button i {
    margin-right: 5px; /* Space between icon and text */
}

.button:hover {
    background-color: #da8259; /* Darker shade on hover */
}
